<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <main id="app">
        <div class="container flex">
            <div class="content flex">

                <!-- COLONNA SX -->
                <div class="col_sx">
                    <!-- top -->
                    <div class="col_header flex ">
                        <div class="avatar">
                            <img src="img/avatar_io.jpg" alt="user">
                        </div>
                        <div class="normo_txt userName">Nome Utente</div>
                        <div class="icons">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- disclamer -->
                    <div class="flex disclamer">
                       <div class="ring_image flex">
                            <i class="fa-solid fa-bell-slash"></i>
                       </div>
                       <div class="ring_txt">
                            <div class="normo_txt"> Ricevi notifiche di nuovi messaggi</div>
                            <div class="small_txt">Attiva notifiche Desktop</div>
                       </div>
                    </div>
                    <!-- search -->
                    <div class="input_cont flex">
                        <div><i class="fa-solid fa-magnifying-glass"></i></div>
                        <input class="small_txt" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- contact list -->
                    <div class="contact_list normo_txt">
                        <ul>
                            <li @click="getCurrentContact(index)" 
                            v-for="(contact, index) in contacts" class="flex" 
                            :class="{'active' : index === currentContact}">
                                <div class="avatar">
                                    <img :src="contact.avatar" :alt="contact.name">
                                </div>
                                <div class="contactName">{{contact.name}}</div>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- COLONNA DESTRA -->
                <div class="col_dx">
                    <!-- top -->
                    <div class="col_header flex ">
                        <div class="avatar">
                            <img :src="contacts[currentContact].avatar" alt="">
                        </div>
                        <div class="userName">
                            <div class="normo_txt ">{{ contacts[currentContact].name }}</div>
                            <div class="small_txt">Ultimo accesso oggi alle</div>
                        </div>
                        <div class="icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- messages -->
                    <section class="messages-wrapper">

                        <div class="messages-cont">

                            <div class="messages" v-for="type in contacts[currentContact].messages"
                                :class="type.status === 'sent' ? 'sent': 'received'">
                                <div class="messageTxt normo_txt">
                                {{ type.text }}</div>
                                <div class="messageDataTime xSmallText">{{ type.date }}</div>
                            </div>
                            <!-- <div class="messages sent">
                                <div class="messageTxt normo_txt">Tutto fatto </div>
                                <div class="messageDataTime xSmallText">13:00</div>
                            </div> -->
                        </div>
                    </section>
                    <!-- bottom -->
                    <div class="bottom flex">
                        <span><i class="fa-solid fa-face-smile"></i></span>
                        <div>
                            <input v-model="messageAddedTxt" @keyup.enter ="addUserMessage" type="text">
                        </div>
                        <span><i class="fa-solid fa-microphone"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="js/script.js"></script>

</body>
</html>