*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
}
.col_header{
    background-color: #eaeaea;
    height: 60px;
    padding: 10px;
    justify-content: space-between;
}

i{
    color: #b1b1b1;
    padding: 0 5px;
}

.avatar{
width: 13%;
}

.userName{
    width: 65%;
}

.icons{
width: 22%;
display: flex;
justify-content: right;}

.normo_txt{
    font-size: 12px;
    font-weight: 500;
}

.small_txt{
    font-size: 9px;
    color: #687477;
}

/* main */
main{
    font-family: "Segoe UI", Arial, sans-serif;
}
.container{
    background: rgb(1,149,136);
    background: linear-gradient(180deg, rgba(1,149,136,1) 15%, #d9dbd4 0%);
    height: 100vh;
}

.content{
    background-color: lightyellow;
    max-width: 950px;
    min-width: 70%;
    height: 90%;
}

/* COLONNA SX */
.col_sx{
    width: 40%;
    height: 100%;
}

/* ------disclamer */
.disclamer{
    background-color: #6bdcfc;
    justify-content: left;
    padding: 10px;
    height: 60px;
}

.ring_image{
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    color: #6bdcfc;
}

.ring_txt{
    padding-left: 10px;
}

/* --------search */
.input_cont{
    padding: 5px;
    height: 35px;
    background-color:#fafafa;
}
.input_cont div{
    padding: 5px 5px 5px 15px;
    background-color: white;
    font-size: 13px;
    height: 100%;
    width: 10%;
}
input{
    width: 90%;
    height: 100%;
    border: none;
    padding: 0 20px;
}

/* ----contact list */

.contact_list{
    height: calc(100% - 155px);
    overflow-y: auto;
}

.contact_list ul li{
    list-style: none;
    padding: 10px;
    height: 60px;
    width: 100%;
    justify-content: left;
}

.contactName{
    padding-left: 10px;
    align-self: flex-start;
}

/* COLONNA DX */
.col_dx{
    width: 60%;
    height: 100%;
    background-image: url(../img/mine.jpg);
}

/* ------messages */
.messages-wrapper{
    overflow-y: auto;
    height: calc(100% - 110px);
}

.messages-cont{
    margin: 0 auto;
    width: 80%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
}

.messages-cont > div{
    max-width: 40%;
    border-radius: 6px;
    padding: 5px 3px 3px 10px;
    height: fit-content;
    margin-bottom: 10px;
}

.xSmallText{
    font-size: 7px;
    color: #687477;
}

/*contactMessages */
.contactMessages{
background-color: #ffffff;
height: fit-content;
width: 45%;
align-self: flex-start;

}
.contactTxt{
text-align: left;
}
.contactTime{
text-align: right;
}

/*userMessages */
.userMessages{
    background-color: #cbfabd;
    height: fit-content;
    width: 45%;
    align-self: flex-end;
}
.userTxt{
    text-align: left;
}
.userTime{
    text-align: right;
}

/* ---------bottom */
.bottom{
    height: 50px;
    background-color: #eaeaea;
    width: 100%;
}

.bottom i{
    font-size: 16px;
    width: 10%;
    padding: 0 10px;
}

.bottom div{
    width:90%
}

.bottom div input{
    height: 40px;
    border-radius: 7px;
    width: 100%;
}


